<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Amzing Chef</title>

    <link rel="stylesheet" href="/styles/mystyles1.css">
    <script>
        $(init);
        function init(){
          return;
        };
        function register(){
            let formData = $("#register_form").serializeArray();
            let data = {};
            $(formData).each((index, item) => {
                data[item.name] = item.value;
            })
            let request = new XMLHttpRequest();
            request.open("POST", "/auth/register", true);
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.onreadystatechange = function () {
                if(request.readyState==4 && request.status == 200) {
                    if(request.responseURL)
                    {
                        alert('New User Registered Successful!!');
                        window.location = request.responseURL;
                    }
                } else if (request.readyState==4 && request.status == 401){
                    alert('Invalid Details');
                }
            };
            request.send(JSON.stringify(data));
        }
    </script>
</head>

<body ng-app="home" ng-controller="home">
    <div id="page">
        <!-- logo includes welcome message and a home picture -->
        <div id="register">
            <form id="register_form" action="/auth/register" method="POST">
                <h3>Register</h3> 
                <p>
                    <input id="username" type="text" name="username" placeholder="username" required="required">
                </p>
                 <p>
                    <input id="password" type="password" name="password" placeholder="password" required="required">
                </p>
                <p>
                    <input id="confirmpassword" type="password" name="confirmpassword" placeholder="confirm password" required="required">
                </p>
                 <p>
                    <input type="button" value="submit" onclick="register()">
                 </p>
            </form>
            <p>Already a member
                     <button id="Gotologin" onclick="document.location.href='/auth/login'">Go to login</button>
            </p>
        </div>
    </div>

</body>

</html>