<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Amzing Chef</title>

    <link rel="stylesheet" href="/styles/mystyles1.css">
    <script src="/scripts/home.js" type="text/javascript">
        $(document).ready(init);
    </script>
</head>

<body ng-app="home" ng-controller="home">
    <div id="page">
        <!-- logo includes welcome message and a home picture -->
        <div id="logo">
            <a id="welcome-message" href="/" style="text-decoration:none">
                <h1>WELCOME TO AMAZING CHEF</h1>
            </a>
            <center><img src="/images/welcomeChef.jpg" width="300px"></center>
        </div>

        <!-- ingreForm will submit fromdata via a get request to server when submit button is clicked -->
        <form id="ingreForm" action="search_recipes" method="get" class="ingredientInput">
            <fieldset>
                <legend align="center"><b>INGREDIENTS</b></legend>

                <div id="TextBoxesGroup">
                </div>

            </fieldset>

            <div id="ingreButtonGroup" class="centerButtons">
                <input type="button" value="Add Ingredient" id="addButton" onclick=addIngredient()>
                <input type="button" value="Remove Ingredient" id="removeButton" disabled=true onclick=removeIngredient()>
                <input type="submit" value="Search Recipe" id="searchButton">
            </div>

        </form>



    </div>

</body>

</html>