<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Amzing Chef</title>

    <link rel="stylesheet" href="/styles/mystyles1.css">
    <script src="/scripts/home.js" type="text/javascript"></script>
</head>

<body ng-app="home" ng-controller="home" onload=init()>
    <div id="page">

        <div id="logo">
            <h1><a href="/" id="logoLink">WELCOME TO AMAZING CHEF</a></h1>
            <img src="/images/welcomeChef.jpg" style="margin-right:90%" width="300px" height 228px>
        </div>

        <form id="ingreForm" action="search_recipes" method="post">
            <div id="TextBoxesGroup">

            </div>
        </form>

        <input type="button" value="Add Ingredient" id="addButton" onclick=addIngredient()>
        <input type="button" value="Remove Ingredient" id="removeButton" disabled=true onclick=removeIngredient()>
        <input type="button" value="Search Recipe" id="searchButton" onclick=search()>

    </div>

</body>

</html>