<!DOCTYPE html>
<html>

<head>
    <title>Amzing Chef</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/mystyles3.css">
    <link rel="stylesheet" href="/jquery-ui/jquery-ui.min.css">
    <script src="/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/scripts/home3.js" type="text/javascript"></script>
</head>

<body ng-app="home" ng-controller="home">
    <div id="page">
        <!-- logo includes welcome message and a home picture -->
        <div id="logo">
            <a id="welcome-message" href="/" style="text-decoration:none">
                <h1>WELCOME TO AMAZING CHEF</h1>
            </a>
            <center><img src="/images/welcomeChef.jpg" width="300px"></center>
        </div>

        <div id = "ingreBar" class="ingreBar">
            <p>Ingredients Bar</p>
        </div>
        <div id="ingreMenu" class="ingreBar">
            <p>Ingredient Menu</p>
        </div>
        <input type="button" value="Search Recipe 3" id="searchButton3" onclick=searches3()>
        <div id="searchResult"></div>

    </div>

</body>

</html>