<!DOCTYPE html>
<html>
<body>

<h2>Delicious Omlette</h2>
<img src="https://healthyrecipesblogs.com/wp-content/uploads/2014/07/chorizo-frittata.jpg" style="width:304px;height:228px;">


<div>
  <p><b>Ingredients</b></p>

        <table border="1">

            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td>Eggs</td>
                <td>2</td>

            </tr>
            <tr>
                <td>Oil</td>
                <td>2 tsp</td>

            </tr>
            <tr>
                <td>Onions</td>
                <td>1</td>

            </tr>
            <tr>
                <td>Salt</td>
                <td>1 tsp</td>

            </tr>
            <tr>
                <td>Pepper</td>
                <td>0.5 tsp</td>
            </tr>
        </table>
    <p><b>Recipe</b></p>

    <p>

    <ol>
        <li>BEAT eggs, water, salt and pepper in small bowl until blended.</li>
        <li>HEAT butter in 7 to 10-inch non-stick omelette pan or skillet over medium-high heat until hot. TILT pan to coat bottom. POUR IN egg mixture. Mixture should set immediately at edges.</li>
        <li>GENTLY PUSH cooked portions from edges toward the centre with inverted turner so that uncooked eggs can reach the hot pan surface. CONTINUE cooking, tilting pan and gently moving cooked portions.</li>
        <li>When top surface of eggs is thickened and no visible liquid egg remains, PLACE filling on one side of the omelette. FOLD omelette in half with turner. With a quick flip of the wrist, turn pan and INVERT or SLIDE omelette onto plate. SERVE immediately.</li>
    </ol>

    </p>


</div>

</body>
</html>
