<!DOCTYPE html>
<html>
<body>

<h2>Hot and Spicy Potato Peas Curry</h2>
<img src="https://1.bp.blogspot.com/--mMXStbCyQw/VwZkEAwqocI/AAAAAAAACyM/rVOcQ0aaTjodd71Yjulqgv1gmakci6bmA/s1600/aishas%2Bayeshas%2Bkitchen%2Bbaby%2Bpotato%2Broast%2Bindian%2Bpunjabi%2Bamritsari%2Bcurry%2Bgravy%2B%2Bdum%2Baloo%2Baloo%2Bbindi%2B%2Baloo%2Bgobi%2Bvegetarian%2Bcurry%2Bfor%2Bchappathi%2Bpoori%2Bkerala%2Bspicy%2B%2B.jpg" style="width:304px;height:228px;">


<div>
    <p><b>Ingredients</b></p>

    <table border="1">

        <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
        </tr>
        <tr>
            <td>Potatoes</td>
            <td>2</td>

        </tr>
        <tr>
            <td>Oil</td>
            <td>2 tsp</td>

        </tr>
        <tr>
            <td>Onions</td>
            <td>2</td>

        </tr>
        <tr>
            <td>Peas</td>
            <td>0.5 lb</td>

        </tr>
        <tr>
            <td>Spices</td>
            <td>As per taste</td>
        </tr>
    </table>
    <p><b>Recipe</b></p>

    <p>

    <ol>
        <li>Place potatoes into a large pot and cover with salted water. Bring to a boil over high heat, then reduce heat to medium-low, cover, and simmer until just tender, about 15 minutes. Drain and allow to steam dry for a minute or two.</li>
        <li>Meanwhile, heat the vegetable oil in a large skillet over medium heat. Stir in the onion and garlic; cook and stir until the onion has softened and turned translucent, about 5 minutes. Season with cumin, cayenne pepper, curry powder, garam masala, ginger, and salt; cook for 2 minutes more. Add the tomatoes, and potatoes. Pour in the coconut milk, and bring to a simmer. Simmer 5 to 10 minutes before serving.</li>

    </ol>

    </p>


</div>

</body>
</html>
