<!DOCTYPE html>
<html>

<head>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/mystyles1.css">
    <script src="/scripts/search.js" type="text/javascript"></script>
    <script src="/scripts/recipe.js" type="text/javascript"></script>
    <title>Amazing Chef</title>
    <script>
        var recipes = JSON.parse('<%-JSON.stringify(recipes)%>');

        function init() {
            init_container(recipes);
        }
    </script>
</head>

<body onload=init()>
    <div id="page">

        <!-- notification let users know how many recipes the system found -->
        <p id="notification" align="center" font-size="30px"></p>

        <!-- recipeContaienr is where recipes' picture are shown
            user can clicked on this to see a specific recipe's ingredient and direction-->
        <div id="recipeContainer" class="rounded-div" style="display: none">
        </div>

        <!-- recipeDisplay is where a full recipe is shown -->
        <div id="recipeDisplay" class="rounded-div" style="display: none">
            <h2 id='recipe_name'></h2>
            <center><img id='recipe_img'></center>

            <!-- recipeContent includes a table of ingredients and direction -->
            <div id='recipeContent'>

                <div id='ingredients' class="div-center">
                    <p><b>Ingredients</b></p>
                    <table id='ingredient_table' border="1">
                        <tr>
                            <th>Ingrdient</th>
                            <th>Quantity</th>
                            <th>Note</th>
                        </tr>
                    </table>
                </div>

                <div id='direction'>
                    <p><b>Direction</b></p>
                </div>

            </div>
        </div>

    </div>
</body>



</html>