<!DOCTYPE html>
<html>

<head>

    <!-- your webpage info goes here -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>My First Website</title>
</head>

<body>
    <% for (var i = 0; i < recipes.length; i++) { %>
        <div>
            <a href="<%=recipes[i]['href']%>"><img src="<%=recipes[i]['image']['source']%>" style="width:200px;height:200px;" /><a></br>
            <%=recipes[i]['recipe_name']%>
                </br><br>
        </div>
        <%}%>
</body>



</html>