<!DOCTYPE html>
<html>

<head>

    <!-- your webpage info goes here -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>My First Website</title>
    <script>
        var recipes = JSON.parse('<%-JSON.stringify(recipes)%>');

        function init() {
            for (var i = 0; i < recipes.length; i++) {
                var recipe = recipes[i];
                var href = '<a href="' + recipe["href"] + '">';
                var img = '<img src="' + recipe['image']['source'] + '" style="width:200px;height:200px"></a>';
                var div = document.createElement("div");
                div.id = recipe["recipe_name"];
                div.innerHTML = '<p>' + href + img + '<br>' + recipe['recipe_name'] + '</p>';
                document.getElementById("recipeContainer").appendChild(div);
            }
        }
    </script>
</head>

<body onload=init()>
    <div id="recipeContainer">

    </div>
</body>



</html>