h1 {
    text-align: center;
}

body {
    background-color: lightyellow;
    margin: auto;
    height: 100%;
}

html {
    height: 100%;
}

input:invalid {
    background-color: #FBCCCC;
}

input:required {
    border: 1px solid blue;
}

fieldset {
    width: 16em;
    box-shadow: 5px 5px 5px gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.centerButtons {
    width: 21.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

#TextBoxesGroup input:valid {
    color: green;
    /* font-weight: bold; */
}

#TextBoxesGroup input[type=text] {
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

#page {
    width: 750px;
    height: 100%;
    border-left: 4px solid #F3F3D0;
    border-right: 4px solid #F3F3D0;
    margin: auto;
    padding-top: .1em;
    padding-bottom: .1px;
    padding-left: 10px;
    padding-right: 10px;
}