h1 {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    background-color: lightblue;
}

body {
    background-color: lightyellow;
}

input:invalid {
    color: white;
    background-color: red;
}

#TextBoxesGroup input:valid {
    color: green;
    font-weight: bold;
}

input:required {
    border: 1px solid blue;
}

fieldset {
    width: 18em;
    /* background-color: #CCEEF0; */
    box-shadow: 5px 5px 5px gray;
    margin-left: auto;
    margin-right: auto;
}

.centerButtons {
    width: 21.5em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}